# Dependencias
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment
.env
Backend/.env

# Firebase secrets
Backend/firebase-service-account.json

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*